# OS
.DS_Store
Thumbs.db

# Editors / IDE
.idea/
.vscode/
.history/
*.swp
*.swo

# node
**/node_modules/**

# python
**/__pycache__/**
**/.venv/**


# go
bin/
darwin/
windows/

# Misc
*.log
*.tmp
*.bak
*.env
